*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 1600px;
    display: flex;
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0,0.267);
    padding-bottom: 30px;
}
header .logo{
    margin: 30px 0 0 110px;
}
header ul{
    margin: 46px 0 0 409px;
    display: flex;
}
header ul li{
    list-style: none;
    margin-right: 50px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.link{
    position: relative;
    padding-bottom: 7px;
}
.link:hover{
    color: #00FF85;
}
.link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background: #00FF85;
    transition: width 0.4s ease-out;
}
.link:hover.link::after{
    color: #00FF85;
    width: 100%;
}
header .links{
    display: flex;
}
.search{
    position: relative;
    margin: 35px 0 0 20px;
    height: 40px;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    background: none;
    border-radius: 50px;
    align-items: center;
    background: #fff;
    box-shadow: 0 10px 29px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.search:hover{
    box-shadow: 0 0 10px #00FF85;
    transform: scale(1.1);
}

.search input{
    width: 150px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.search a .fa-solid{
    color: #333;
    font-size: 18px;
}
.profile{
    position: relative;
    margin: 35px 0 0 20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 10px 29px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.profile .fa-solid{
    font-size: 20px;
    color: #000;
    margin-left: 11px; 
    margin-top: 9px;
}

.profile:hover{
    color: #00FF85;
    box-shadow: 0 0 10px #00FF85;
    transform: scale(1.2);
}

/* Home */

.home{
    display: flex;
    width: 1500px;
    height: 900px;
    background-image: url(GTimg/bg.jpg);
}
.home h2{
    font-size: 64px;
    font-weight: 700;
    padding: 235px 0 0 110px;
    color: #00FF85;
    width: 600px;
}
.home p{
    padding: 34px 0 0 110px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    width: 422px;
    line-height: 32px;
}
.home .btn-1{
    border: none;
    background: #00FF85;
    padding: 10px 20px;
    width: 178px;
    height: 57px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    border-radius: 15px;
    margin: 62px 0 0 110px;
    cursor: pointer;
    transition: 0.8s;
}
.btn-1:hover{
    color: #00FF85;
    background: #fff;
}
.container{
    width: 896px;
    /* padding: 20px 20px; */
}
.head3{
    padding-top: 438px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.head3 strong{
    color: #00FF85;
}
.carroussel{
    margin-top: 40px;
    padding-right: 20px;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2em;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.carroussel::-webkit-scrollbar{
    display: none;
    
}
.card{
    scroll-snap-align: start;
    height: 300px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 30px;
    /* margin-left: 20px; */
}
.card img{
    width: 210px;
    height: 270px;
    border-radius: 15px;
    transition: 0.8s;
}
.card img:hover{
    transform: scale(1.09);
}

/* Gallery */

.gallery{
    position: relative;
    margin: 47px 0 0 110px;
    display: flex;
}
.gallery h3{
    font-size: 32px;
    font-weight: 700;
    color: #00FF85;
}
.gallery .p1{
    margin: 62px 0 0 0;
    width: 431px;
    font-size: 16px;
    font-weight: 500;
}
.gallery .p1 strong{
    color: #00FF85;
}
.gallery .p2{
    margin-top: 37px;
    width: 483px;
    font-size: 16px;
    font-weight: 500;
}
.gallery .btn-2{
    border: none;
    background: #00FF85;
    padding: 10px 20px;
    width: 178px;
    height: 57px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    border-radius: 15px;
    margin: 124px 0 0 0;
    cursor: pointer;
    transition: 0.8s;
}
.btn-2:hover{
    color: #00FF85;
    background: #fff;
    border: 2px solid #00FF85;
    width: 180px;
}
.imgblock{
    height: 530px;
    width: 790px;
    display: flex;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    border-radius: 40px 0 0 40px;
    margin-left: 117PX;
}
.imgblock .slide{
    scroll-snap-align: start;
}
.imgblock::-webkit-scrollbar{
    display: none;
}
.imgblock img{
    width: 890px;
    height: 100%;
    object-fit: cover;
}

/* Tours */

.tours{
    margin: 100px 0 0 110px;
}
.tours .h3{
    font-size: 32px;
    font-weight: 700;
    color: #00FF85
}
.tours .tour-cards{
    width: 1380px;
    margin-top: 74px;
    display: flex;
}
.tour-cards .cm{
    margin-right: 80px;
    width: 371px;
    height: 555px;
    background-color: #272727;
    border-radius: 19px;
    cursor: pointer;
    transition: 0.5s;
}
.tours .tour-cards .cm:hover{
    transform: scale(1.07);
}
.cm img{
    width: 371px;
    height: 404px;
    border-radius: 19px 19px 0 0;
}
.cm h4{
    padding: 29px 0 0 36px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.cm a{
    padding: 18px 0 0 36px;
    color: #fff;
    text-decoration: none;
}
.cm a .fa-solid{
    padding-top: 8px;
    padding-right: 9px;
    font-size: 23px;
    color: #00FF85;
}
.cm a span{
    font-weight: 500;
    font-size: 12px;
}
.cm .inbl{
    display: flex;
    margin: 10px 0 0 36px;
}
.cm .inbl .star{
    background: #595959BF;
    margin-top: 10px;
    padding: 3px 4px;
    border-radius: 8px;
    
}
.cm .inbl .star .fa-solid{
    color:#FFC700;
    margin-top: 1px;
    font-size: 18px;
}
.money{
    margin-top: 0;
    margin-left: 161px;
    font-weight: 500;
    font-size: 32px;
    color: #00FF85;
}
.slidebe{
    /* padding-bottom: 20px; */
    margin-top: 40px;
    padding-right: 20px;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2em;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.slidebe::-webkit-scrollbar{
    display: none;
}
.cm{
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 20px;
}

/* Contacts */

.contacts{
    margin-top: 133px;
    background-image: url(GTimg/Bg-cont.jpg);
    width: 1600px;
    height: 867px;
}
.inner-cont{
    position: relative;
    top: 133px;
    margin-left: 531px;
    width: 899px;
    height: 602px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    color: #fff;
}
.inner-cont h3{
    padding: 57px 0 0 99px;
    font-size: 32px;
    font-weight: 700;
}
.inner-cont .par{
    padding: 17px 0 0 99px;
    font-size: 16px;
    font-weight: 600;
}
.inner-cont .inner-info{
    padding: 72px 0 0 99px;
    display: flex;
}
.inner-cont .inner-info .right{
    position: relative;
}
.inner-cont .inner-info p{
    padding-top: 17px;
    font-size: 20px;
    font-weight: 400;
}

.inner-cont .left{
    padding-left: 100px;
    padding-top: 40px;
}
.inner-cont .input{
    margin: 109px 0 0 99px;
}
.inner-cont h4{
    
    font-size: 24px;
    font-weight: 700;
}
.inner-cont input{
    font-size: 16px;
    color: #fff;
    margin-top: 26px;
    width: 220px;
    height: 26px;
    background: transparent;
    border: none;
    outline: none;
}
.inner-cont a{
    
    color: #ffff;
}
.input .text .fa-solid{
    font-size: 20px;
    transition: 0.5s;
}
.input .text .fa-solid:hover{
    margin-left: 10px;
    color: #00FF85;
}
.inner-cont .bottom-line{
    border-radius: 5px;
    margin-top: 7px;
    background: #00FF85;
    height: 3px;
    width: 243px;
}

/* footer */

footer{
    width: 1600px;
    height: 406px;
    background-color: #048D4B;
}
footer .two-blocks{
    display: flex;
}
footer .left-block{
    padding: 68px 0 0 110px;
}
footer p{
    margin-top: 63px;
    width: 415px;
    color: #fff;
}
footer .right-block{
    padding: 69px 0 0 130px;
    display: flex;
    color: #fff;
}
.navigations{
    position: relative;
}
.navigations h4{
    color: #00FF85;
    font-size: 24px;
    font-weight: 700;
}
.navigations ul{
    margin-top: 22px;
}
.navigations li{
    margin-bottom: 12px;
    list-style: none;
}
.navigations li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.navigations li a:hover{
    margin-left: 10px;
    color: aqua;
}

.services{
    margin-left: 106px;
    width: 158px;
}
.services h4{
    color: #00FF85;
    font-size: 24px;
    font-weight: 700;
}
.services ul{
    margin-top: 22px;
}
.services li{
    margin-bottom: 12px;
    list-style: none;
}
.services a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.services a:hover{
    color: aqua;
    margin-left: 10px;
    font-size: 16px;
    
}

.media{
    margin-left: 153px;
}
.media h4{
    color: #00FF85;
    font-size: 24px;
    font-weight: 700;
}
.media a{
    margin-right: 26px;
    color: #fff;
    font-size: 29px;
}
.media a i{
    padding-top: 43px;
}
.media a .fa-brands{
    transition: 0.5s;
}
.media a .fa-brands:hover{
    color: aqua;
    transform: scale(1.6);
    
}

.footer-line{
    width: 1381px;
    height: 2px;
    background: #fff;
    margin: 52px 0 22px 110px;
}

footer h6{
    margin: 22px 0 0 736px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}